<div class="row">
  <div class="col-sm-2" *ngFor="let photo of photos">
    <h4>{{ photo.username }}</h4>
    <img
      src="{{ photo.photoUrl }}"
      alt="{{ photo.username }}"
      class="img-thumbnail p-1"
    />
    <div class="text-center">
      <button
        class="btn btn-sm btn-success me-1"
        (click)="approvePhoto(photo.photoId)"
      >
        Approve
      </button>
      <button
        class="btn btn-sm btn-danger"
        (click)="rejectPhoto(photo.photoId)"
      >
        Reject
      </button>
    </div>
  </div>
</div>
