.btn {
    --bs-btn-padding-y: 0.4rem;
}

.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

img {
    max-height: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline;
    margin-right: 5px;
}