img.img-thumbnail {
  height: 150px;
  min-width: 150px !important;
  margin-bottom: 2px;
}

.nv-file-over {
  border: dotted 3px red;
}

input[type="file"] {
  color: transparent;
}

.not-approved {
  opacity: 0.2;
}

.img-wrapper {
  position: relative;
}

.img-text {
  position: absolute;
  bottom: 20%;
  text-align: center;
  width: 90%;
}

.photos-container {
  width: 20%;
  position: relative;
  text-align: center;
}
